<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dingdong.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.dingdong.pojo.Order" >
    <id column="order_id" property="order_id" jdbcType="INTEGER" />
    <result column="user_id" property="user_id" jdbcType="INTEGER" />
    <result column="totalAmount" property="totalamount" jdbcType="DECIMAL" />
    <result column="receiver_id" property="receiver_id" jdbcType="INTEGER" />
    <result column="orderStates" property="orderstates" jdbcType="INTEGER" />
    <result column="expressInfo" property="expressinfo" jdbcType="VARCHAR" />
    <result column="orderTime" property="ordertime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, user_id, totalAmount, receiver_id, orderStates, expressInfo, orderTime
  </sql>
  <select id="findOrderByID" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_order
    where order_id = #{order_id,jdbcType=INTEGER}
  </select>
   <select id="findOrdersByUserID" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_order
    where user_id = #{user_id,jdbcType=INTEGER}
    order by orderTime
  </select>
  
  <select id="findAllOrders" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_order
    order by orderTime
  </select>
  
   <select id="findOrdersByUser_idAndDate" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from t_order
    where user_id = #{userID,jdbcType=INTEGER}
    and orderTime > #{startDate}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_order
    where order_id = #{order_id,jdbcType=INTEGER}
  </delete>
  
  <insert id="createOrder" parameterType="com.dingdong.pojo.Order"   useGeneratedKeys="true" keyProperty="order_id">
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="order_id != null" >
        order_id,
      </if>
      <if test="user_id != null" >
        user_id,
      </if>
      <if test="totalamount != null" >
        totalAmount,
      </if>
      <if test="receiver_id != null" >
        receiver_id,
      </if>
      <if test="orderstates != null" >
        orderStates,
      </if>
      <if test="expressinfo != null" >
        expressInfo,
      </if>
      <if test="ordertime != null" >
        orderTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="order_id != null" >
        #{order_id,jdbcType=INTEGER},
      </if>
      <if test="user_id != null" >
        #{user_id,jdbcType=INTEGER},
      </if>
      <if test="totalamount != null" >
        #{totalamount,jdbcType=DECIMAL},
      </if>
      <if test="receiver_id != null" >
        #{receiver_id,jdbcType=INTEGER},
      </if>
      <if test="orderstates != null" >
        #{orderstates,jdbcType=INTEGER},
      </if>
      <if test="expressinfo != null" >
        #{expressinfo,jdbcType=VARCHAR},
      </if>
      <if test="ordertime != null" >
        #{ordertime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateOrder" parameterType="com.dingdong.pojo.Order" >
    update t_order
    <set >
      <if test="user_id != null" >
        user_id = #{user_id,jdbcType=INTEGER},
      </if>
      <if test="totalamount != null" >
        totalAmount = #{totalamount,jdbcType=DECIMAL},
      </if>
      <if test="receiver_id != null" >
        receiver_id = #{receiver_id,jdbcType=INTEGER},
      </if>
      <if test="orderstates != null" >
        orderStates = #{orderstates,jdbcType=INTEGER},
      </if>
      <if test="expressinfo != null" >
        expressInfo = #{expressinfo,jdbcType=VARCHAR},
      </if>
      <if test="ordertime != null" >
        orderTime = #{ordertime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_id = #{order_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dingdong.pojo.Order" >
    update t_order
    set user_id = #{user_id,jdbcType=INTEGER},
      totalAmount = #{totalamount,jdbcType=DECIMAL},
      receiver_id = #{receiver_id,jdbcType=INTEGER},
      orderStates = #{orderstates,jdbcType=INTEGER},
      expressInfo = #{expressinfo,jdbcType=VARCHAR},
      orderTime = #{ordertime,jdbcType=TIMESTAMP}
    where order_id = #{order_id,jdbcType=INTEGER}
  </update>
</mapper>